<div class="col-lg-3">
        <div class="account-sidebar account-tab mb-sm-30">
          <div class="dark-bg tab-title-bg">
            <div class="heading-part">
              <div class="sub-title"><span></span> My Account</div>
            </div>
          </div>
          <div class="account-tab-inner">
            <ul class="account-tab-stap">
              <li id="step1" class="active">
                <a href="javascript:void(0)"
                  >My Dashboard<i class="fa fa-angle-right"></i>
                </a>
              </li>
              <li id="step2">
                <a href="javascript:void(0)"
                  >Edit Profile<i class="fa fa-angle-right"></i>
                </a>
              </li>
              <li id="step3">
                <a href="javascript:void(0)"
                  >My Order List<i class="fa fa-angle-right"></i>
                </a>
              </li>
              <li id="step4">
                <a href="javascript:void(0)"
                  >Change Password<i class="fa fa-angle-right"></i>
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>