{% extends 'include/adminbase.html' %}
{% load static %}
{% block content %}
<div class="main-panel">
	<div class="content">
		<div class="panel-header bg-white shadow-sm">
			<div class="page-inner  py-3 mb-5">
				<div class="d-flex align-items-left align-items-md-center flex-column flex-md-row">
					<div class="">
						<div class="header d-sm-flex align-items-center  text-center">
							<h1 class="page-header banner-title">Products</h1>
							<ul class="breadcrumb justify-content-sm-start justify-content-center">
								<li><a href=""></a></li>
								<li><a href="{% url 'addproduct' %}">Products</a></li>
								<li><a href="#">Add Product</a></li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="page-inner">
			<div class="row">
				<div class="col-md-12">
					<div class="card">
						<div class="card-header">
							<div class="card-head-row justify-content-between">
								<div class="card-title"><i class="fa fa-edit"></i> Add Product</div>
									<form class="main-form full" method="POST" action="" enctype="multipart/form-data">
										{% csrf_token %}
										<div class="add-btn">
											<button class="btn btn-primary" data-toggle="tooltip" type="submit"
												data-original-title="Save"><i class="fa fa-save"> Save</i>
											</button>
										</div>
								</div>
							</div>
						<div class="card-body">
							<div class="row">
								<div class="col-12">
									<div class="input-box form-group required">
										<div class="row">
											<label for="p-name" class="col-md-3 control-label">Product Name</label>
											<div class="col-md-9">
												<input type="text" name="product_name" class="form-control" id="p-name"
													required placeholder="Product Name">
											</div>
										</div>
									</div>
								</div>
								<div class="col-12">
									<div class="input-box form-group">
										<div class="row">
											<label for="input-status" class="col-md-3 control-label">Category</label>
											<div class="col-md-9">
												<select name="category" class="form-control mySelect">
													{% for category in category %}
													<option value="{{category.category_name}}">
														{{category.category_name}}
													</option>
													{% endfor %}
												</select>
											</div>
										</div>
									</div>
								</div>
								<div class="col-12">
									<div class="input-box form-group">
										<div class="row">
											<label for="input-status" class="col-md-3 control-label">Sub
												Category</label>
											<div class="col-md-9">
												<select class="form-control mySelect" name="subcategory">
													{% for subcategory in subcategory %}
													<option value="{{subcategory.sub_category}}">
														{{subcategory.sub_category}}
													</option>
													{% endfor %}
												</select>
											</div>
										</div>
									</div>
								</div>
								<div class="col-12">
									<div class="input-box form-group">
										<div class="row">
											<label for="description" class="col-md-3 control-label">Description</label>
											<div class="col-md-9">
												<textarea id="summernote" name="product_description"
													class="form-control" placeholder="Description" rows="10" cols="30">
												</textarea>
											</div>
										</div>
									</div>
								</div>
								<div class="col-12">
									<div class="input-box form-group">
										<div class="row">
											<label for="input-price" class="col-md-3 control-label">Price</label>
											<div class="col-md-9">
												<input type="text" name="price" placeholder="Price" id="input-price"
													class="form-control" required>
											</div>
										</div>
									</div>
								</div>
								<div class="col-12">
									<div class="input-box form-group">
										<div class="row">
											<label for="input-quantity" class="col-md-3 control-label">Stock</label>
											<div class="col-md-9">
												<input type="text" name="stock" class="form-control" id="input-quantity"
													placeholder="Stock" required>
											</div>
										</div>
									</div>
								</div>
								<!-- image1  start-->
								
								<div class="col-9"style="margin-left:260px">
									<div class="custom-file mt-3">
										<input type="file" class="custom-file-input" name="pic1" id="image1">
										<label class="custom-file-label" for="customFile">Choose file</label>
										<textarea type="text" id="imageValue1" cols="20" rows="10" name="img1-base64"></textarea>
									</div>
										<div class="fileinput-new thumbnail mt-2">
											<img src="" id="chekPreview1" alt="">
										</div>
								</div> 
								
								<!-- image1  end-->

								<!-- image2 start-->
								
								<div class="col-9 "style="margin-left:260px">
									<div class="custom-file mt-3">
										<input type="file" class="custom-file-input" name="pic2" id="image2">
										<label class="custom-file-label" for="customFile">Choose file</label>
										<textarea type="text" name="img2-base64" id="imageValue2" cols="20" rows="10" hidden></textarea>
									  </div>
									  <div class="fileinput-new thumbnail mt-2">
										<img src="" id="chekPreview2" alt="">
									  </div>
								</div>
								<!-- image2  end-->

								<!-- image3 start-->
								<div class="col-9"style="margin-left:260px">
									<div class="custom-file mt-3">
										<input type="file"  class="custom-file-input" name="pic3" id="image3">
										<label class="custom-file-label" for="customFile">Choose file</label>
										<textarea type="text" name="img3-base64" id="imageValue3" cols="20" rows="10" hidden></textarea>
									  </div>
									  <div class="fileinput-new thumbnail mt-2">
										<img src="" id="chekPreview3" alt="">
									  </div>
								</div>
								<!-- image3  end-->

								<!-- image4 start-->
								<div class="col-9"style="margin-left:260px">
									<div class="custom-file mt-3">
										<input type="file" class="custom-file-input" name="pic4" id="image4">
										<label class="custom-file-label" for="customFile">Choose file</label>
										<textarea type="text" name="img4-base64" id="imageValue4" cols="20" rows="10" hidden></textarea>
									  </div>
									  <div class="fileinput-new thumbnail mt-2">
										<img src="" id="chekPreview4" alt="">
									  </div>
								</div>
								<!-- image4  end-->
								
							</div>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<!-- custom JS -->


	<script src="https://aaryaweb.info/html/stylexpo/admin/assets/js/custom.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
	<script>

		$('.mySelect').on("change", function () {
			$('option:selected', this).hide().siblings().show();
		}).trigger('change');


		$('#summernote').summernote({
			placeholder: 'Description',
			tabsize: 2,
			height: 250
		});
	</script>

<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script src="https://kit.fontawesome.com/4f9ff9a3d7.js" crossorigin="anonymous"></script>
<!-- Material Dashboard CSS -->
<link href="/assets/css/material-dashboard.min.css?v=2.1.0" rel="stylesheet" />
<link rel="stylesheet" href="https://cdn.datatables.net/1.10.25/css/jquery.dataTables.min.css">
		<link rel="stylesheet" href="https://unpkg.com/dropzone/dist/dropzone.css" />
	  <link href="https://unpkg.com/cropperjs/dist/cropper.css" rel="stylesheet"/>

  <script src="https://unpkg.com/dropzone"></script>
	  <script src="https://unpkg.com/cropperjs"></script>




<!-- Button trigger modal -->

<style>
  .preview {
	  overflow: hidden;
	  width: 160px;
	  height: 160px;
	  margin: 10px;
	  border: 1px solid red;
  }

  .modal-lg {
	  max-width: 1000px !important;
  }
</style>

<!-- Modal 1-->
<div class="modal fade" id="modal1" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
	  <div class="modal-content">
		  <div class="modal-header">
			  <h5 class="modal-title" id="exampleModalLabel">Crop Image Here</h5>
			  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
				  <span aria-hidden="true">&times;</span>
			  </button>
		  </div>
		  <div class="modal-body">
			  <div class="img-container">
				  <div class="row">
					  <div class="col-md-8">
						  <img src="" id="sampleImage1" />
					  </div>
					  <div class="col-md-4">
						  <div class="preview" id="preview1"></div>
					  </div>
				  </div>
			  </div>
		  </div>
		  <div class="modal-footer">

			  <button type="button" id="crop1" class="btn btn-primary">Crop</button>
			  <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>

		  </div>
	  </div>
  </div>
</div>
<!-- Modal  1 end-->



<!-- Modal 2-->
<div class="modal fade" id="modal2" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
	  <div class="modal-content">
		  <div class="modal-header">
			  <h5 class="modal-title" id="exampleModalLabel">Crop Image Here</h5>
			  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
				  <span aria-hidden="true">&times;</span>
			  </button>
		  </div>
		  <div class="modal-body">
			  <div class="img-container">
				  <div class="row">
					  <div class="col-md-8">
						  <img src="" id="sampleImage2" />
					  </div>
					  <div class="col-md-4">
						  <div class="preview" id="preview2"></div>
					  </div>
				  </div>
			  </div>
		  </div>
		  <div class="modal-footer">

			  <button type="button" id="crop2" class="btn btn-primary">Crop</button>
			  <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>

		  </div>
	  </div>
  </div>
</div>
<!-- Modal  2 end-->


<!-- Modal 3-->
<div class="modal fade" id="modal3" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
	  <div class="modal-content">
		  <div class="modal-header">
			  <h5 class="modal-title" id="exampleModalLabel">Crop Image Here</h5>
			  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
				  <span aria-hidden="true">&times;</span>
			  </button>
		  </div>
		  <div class="modal-body">
			  <div class="img-container">
				  <div class="row">
					  <div class="col-md-8">
						  <img src="" id="sampleImage3" />
					  </div>
					  <div class="col-md-4">
						  <div class="preview" id="preview3"></div>
					  </div>
				  </div>
			  </div>
		  </div>
		  <div class="modal-footer">

			  <button type="button" id="crop3" class="btn btn-primary">Crop</button>
			  <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>

		  </div>
	  </div>
  </div>
</div>
<!-- Modal  3 end-->

<!-- Modal 4-->
<div class="modal fade" id="modal4" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
	  <div class="modal-content">
		  <div class="modal-header">
			  <h5 class="modal-title" id="exampleModalLabel">Crop Image Here</h5>
			  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
				  <span aria-hidden="true">&times;</span>
			  </button>
		  </div>
		  <div class="modal-body">
			  <div class="img-container">
				  <div class="row">
					  <div class="col-md-8">
						  <img src="" id="sampleImage4" />
					  </div>
					  <div class="col-md-4">
						  <div class="preview" id="preview4"></div>
					  </div>
				  </div>
			  </div>
		  </div>
		  <div class="modal-footer">

			  <button type="button" id="crop4" class="btn btn-primary">Crop</button>
			  <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>

		  </div>
	  </div>
  </div>
</div>
<!-- Modal  4 end-->


<script>
  $('document').ready(function() {
//modal1 and image 1
  var image1 = document.getElementById('sampleImage1');
  var modal1 = $('#modal1');
  var cropper1;

  $('#image1').change(function (event) {
	  var files = event.target.files;

	  var done = function (url) {
		  image1.src = url;
		  modal1.modal('show');
	  };

	  if (files && files.length > 0) {
		  reader = new FileReader();
		  reader.onload = function (event) {
			  done(reader.result);
		  };
		  reader.readAsDataURL(files[0]);
	  }
  });

  modal1.on('shown.bs.modal', function () {
	  cropper1 = new Cropper(image1, {
		  aspectRatio: 1,
		  viewMode: 3,
		  preview: '#preview1'
	  });
  }).on('hidden.bs.modal', function () {
	  cropper1.destroy();
	  cropper1 = null;
  });

  $('#crop1').click(function () {
	  canvas = cropper1.getCroppedCanvas({
		  width: 200,
		  height: 200
	  });

	  canvas.toBlob(function (blob) {
		  url = URL.createObjectURL(blob);
		  var reader = new FileReader();
		  reader.readAsDataURL(blob);
		  reader.onloadend = function () {
			  var base64data = reader.result;
			  modal1.modal('hide');
			  $("#imageValue1").val(base64data)
			  $('#chekPreview1').attr('src', base64data);
		  };
	  });
  });
//modal1 and image 1 end

//modal2 and image 2
  var image2 = document.getElementById('sampleImage2');
  var modal2 = $('#modal2');
  var cropper2;

  $('#image2').change(function (event) {
	  var files = event.target.files;

	  var done = function (url) {
		  image2.src = url;
		  modal2.modal('show');
	  };

	  if (files && files.length > 0) {
		  reader = new FileReader();
		  reader.onload = function (event) {
			  done(reader.result);
		  };
		  reader.readAsDataURL(files[0]);
	  }
  });

  modal2.on('shown.bs.modal', function () {
	  cropper2 = new Cropper(image2, {
		  aspectRatio: 1,
		  viewMode: 3,
		  preview: '#preview2'
	  });
  }).on('hidden.bs.modal', function () {
	  cropper2.destroy();
	  cropper2 = null;
  });

  $('#crop2').click(function () {
	  canvas = cropper2.getCroppedCanvas({
		  width: 200,
		  height: 200
	  });

	  canvas.toBlob(function (blob) {
		  url = URL.createObjectURL(blob);
		  var reader = new FileReader();
		  reader.readAsDataURL(blob);
		  reader.onloadend = function () {
			  var base64data = reader.result;
			  modal2.modal('hide');
			  $("#imageValue2").val(base64data)
			  $('#chekPreview2').attr('src', base64data);
		  };
	  });
  });
//image 2 and modal 2 end


//modal3 and image 3 start
  var image3 = document.getElementById('sampleImage3');
  var modal3 = $('#modal3');
  var cropper3;

  $('#image3').change(function (event) {
	  var files = event.target.files;

	  var done = function (url) {
		  image3.src = url;
		  modal3.modal('show');
	  };

	  if (files && files.length > 0) {
		  reader = new FileReader();
		  reader.onload = function (event) {
			  done(reader.result);
		  };
		  reader.readAsDataURL(files[0]);
	  }
  });

  modal3.on('shown.bs.modal', function () {
	  cropper3 = new Cropper(image3, {
		  aspectRatio: 1,
		  viewMode: 3,
		  preview: '#preview3'
	  });
  }).on('hidden.bs.modal', function () {
	  cropper3.destroy();
	  cropper3 = null;
  });

  $('#crop3').click(function () {
	  canvas = cropper3.getCroppedCanvas({
		  width: 200,
		  height: 200
	  });

	  canvas.toBlob(function (blob) {
		  url = URL.createObjectURL(blob);
		  var reader = new FileReader();
		  reader.readAsDataURL(blob);
		  reader.onloadend = function () {
			  var base64data = reader.result;
			  modal3.modal('hide');
			  $("#imageValue3").val(base64data)
			  $('#chekPreview3').attr('src', base64data);
		  };
	  });
  });
//image 3 and modal 3 end

//modal4 and image 4 start
  var image4 = document.getElementById('sampleImage4');
  var modal4 = $('#modal4');
  var cropper4;

  $('#image4').change(function (event) {
	  var files = event.target.files;

	  var done = function (url) {
		  image4.src = url;
		  modal4.modal('show');
	  };

	  if (files && files.length > 0) {
		  reader = new FileReader();
		  reader.onload = function (event) {
			  done(reader.result);
		  };
		  reader.readAsDataURL(files[0]);
	  }
  });

  modal4.on('shown.bs.modal', function () {
	  cropper4 = new Cropper(image4, {
		  aspectRatio: 1,
		  viewMode: 3,
		  preview: '#preview4'
	  });
  }).on('hidden.bs.modal', function () {
	  cropper4.destroy();
	  cropper4 = null;
  });

  $('#crop4').click(function () {
	  canvas = cropper4.getCroppedCanvas({
		  width: 200,
		  height: 200
	  });

	  canvas.toBlob(function (blob) {
		  url = URL.createObjectURL(blob);
		  var reader = new FileReader();
		  reader.readAsDataURL(blob);
		  reader.onloadend = function () {
			  var base64data = reader.result;
			  modal4.modal('hide');
			  $("#imageValue4").val(base64data)
			  $('#chekPreview4').attr('src', base64data);
		  };
	  });
  });
//image 4 and modal 4 end
  });

</script>

{% endblock content%}