{% extends 'include/adminbase.html' %} {% block content %}

<div class="main-panel">
  <div class="content">
    <!-- Bread Crumb Start -->
    <div class="panel-header bg-white shadow-sm">
      <div class="page-inner py-3 mb-5">
        <div class="
            d-flex
            align-items-left align-items-md-center
            flex-column flex-md-row
          ">
          <div class="">
            <div class="header d-sm-flex align-items-center text-center">
              <h1 class="page-header banner-title">Dashboard</h1>
              <ul class="
                  breadcrumb
                  justify-content-sm-start justify-content-center
                ">
                <li><a href="index.html"></a></li>
                <li><a href="{% url 'admindash' %}">Dashboard</a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Bread Crumb End -->

    <div class="row p-3">
      <div class="col-sm-4 grid-margin">
        <div class="card">
          <div class="card-body">
            <h5>Revenue</h5>
            <div class="row">
              <div class="col-8 col-sm-12 col-xl-8 my-auto">
                <div class="d-flex d-sm-block d-md-flex align-items-center">
                  <h2 class="mb-0">₹{{revenue}}</h2>
                  <!-- <p class="text-success ml-2 mb-0 font-weight-medium">+0.0%</p> -->
                </div>
                <!-- <h6 class="text-muted font-weight-normal">0.0% Since last month</h6> -->
              </div>
              <div class="col-4 col-sm-12 col-xl-4 text-center text-xl-right">
                <i class="icon-lg mdi mdi-codepen text-primary ml-auto"></i>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-4 grid-margin">
        <div class="card">
          <div class="card-body">
            <h5>Sales</h5>
            <div class="row">
              <div class="col-8 col-sm-12 col-xl-8 my-auto">
                <div class="d-flex d-sm-block d-md-flex align-items-center">
                  <h2 class="mb-0">₹{{sales}}</h2>
                  <!-- <p class="text-success ml-2 mb-0 font-weight-medium">+0.0%</p> -->
                </div>
                <!-- <h6 class="text-muted font-weight-normal"> 0.0% Since last month</h6> -->
              </div>
              <div class="col-4 col-sm-12 col-xl-4 text-center text-xl-right">
                <i class="icon-lg mdi mdi-wallet-travel text-danger ml-auto"></i>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-4 grid-margin">
        <div class="card">
          <div class="card-body">
            <h5>Stock</h5>
            <div class="row">
              <div class="col-8 col-sm-12 col-xl-8 my-auto">
                <div class="d-flex d-sm-block d-md-flex align-items-center">
                  <h2 class="mb-0">{{stock_avail}}</h2>
                </div>
              
              </div>
              <div class="col-4 col-sm-12 col-xl-4 text-center text-xl-right">
                <i class="icon-lg mdi mdi-monitor text-success ml-auto"></i>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>


    <div class="col-md-10 col-12 mx-auto">
      <div class="row">
        <div class="col-md-6 col-12">
          <div class="card" style="margin-top: 30px">
            <div class="card-body">
              <div>
                <canvas id="pieChart" width="300" height="300"></canvas>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-12">
          <div class="card" style="margin-top: 30px">
            <div class="card-body">
              <canvas id="doughnutChart" width="300" height="300"></canvas>
            </div>
          </div>
        </div>
      </div>
      <div class="row d-flex justify-content-center">
        <div class="col-md-8 col-12">
          <div class="card" style="margin-top: 30px">
            <div class="card-body">
              <canvas id="barChart2" width="300" height="300"></canvas>
            </div>
          </div>
        </div>
      
      </div>
      <div class="row">
        <div class="col-md-12">
          <div class="card" style="margin-top: 30px">
            <div class="card-header">
              <div class="card-head-row">
                <div class="card-title">
                  <i class="fa fa-shopping-cart"></i> Latest Orders
                </div>
              </div>
            </div>
            <div class="card-body">
              <div class="table-hover table-sales">
                <table class="table table-hover">
                  <thead>
                    <tr>
                      <th>Order ID</th>
                      <th>Customer</th>
                      <th>Status</th>
                      <th>Date Added</th>
                      <th>Total</th>
                    </tr>
                  </thead>
                  <tbody>
                    {% for orders in last_six_order%}
                    <tr>
                      <td>{{orders.order_number}}</td>
                      <td>{{orders.full_name}}</td>
                      <td>
                        <span class="badge badge-success">{{orders.status}}</span>
                      </td>
                      <td>{{orders.created_at}}</td>
                      <td>{{orders.order_total}}</td>
                    </tr>
                    {% endfor %}
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <script src="https://aaryaweb.info/html/stylexpo/admin/assets/js/custom.js"></script>
    <script src="https://aaryaweb.info/html/stylexpo/admin/assets/js/demo.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

    <script>
      //setup for bar chart
      const databar2 = {
        labels: {{ allproduct| safe}},
      datasets: [{
        label: 'Product avilability',
        data: {{ stock| safe}},
        backgroundColor: [
        'rgba(245, 40, 145, 0.8)',
        'rgba(63, 39, 245, 0.8)',
        'rgba(245, 183, 39, 0.8)',
        'rgba(245, 121, 118, 0.8)',

      ],
        borderColor: ['rgba(255, 99, 132, 1)',
        'rgba(54, 162, 235, 1)'
      ],
        borderWidth: 1
             }]
      	};
      //config for barchart
      const configbar2 = {
        type: 'bar',
        data: databar2,
        options: {
          responsive: true,
          plugins: {
            legend: {
              position: 'top',
            },
            title: {
              display: true,
              text: 'Product avilability'
            }
          }
        },
      };
      //render inti block for barchart
      const barchart2 = new Chart(
        document.getElementById('barChart2'),
        configbar2
      );
     

      //setup for piechart
      const datapie = {
        labels: ['False', 'True'],
        //labels: {{users|safe}},
        datasets: [{

          data: {{ user_count| safe}},
      backgroundColor: [
        'rgba(245, 40, 145, 0.8)',
        'rgba(63, 39, 245, 0.8)',
        'rgba(245, 183, 39, 0.8)',
        'rgba(245, 121, 118, 0.8)',

      ],
        borderColor: [
          'rgba(255, 99, 132, 1)',
          'rgba(54, 162, 235, 1)',
          'rgba(255, 206, 86, 1)',
          'rgba(232, 106, 100, 1)',

        ],
          borderWidth: 1
             }],
      	};

      //config for pieChart
      const configpie = {
        type: 'pie',
        data: datapie,
        options: {
          responsive: true,
          plugins: {
            legend: {
              position: 'top',
            },
            title: {
              display: true,
              text: 'user details'
            }
          }
        }
      };
      //render inti block for pie chart
      const pieChart = new Chart(
        document.getElementById('pieChart'),
        configpie
      );

      //setup for doughnut
      const datadoughnut = {
        labels: {{ payment_method| safe}},
      datasets: [{
        label: 'Payment ',
        data: {{ payment_count| safe}},
        backgroundColor: [
        'rgba(245, 40, 145, 0.8)',
        'rgba(63, 39, 245, 0.8)',
        'rgba(245, 183, 39, 0.8)',
        'rgba(39, 245, 118, 0.8)',


      ],
        borderColor: [
        'rgba(255, 99, 132, 1)',
        'rgba(54, 162, 235, 1)',
        'rgba(255, 206, 86, 1)',

      ],
        borderWidth: 1
             }]
      	};

      //config for doughnutChart
      const configdoughnut = {
        type: 'doughnut',
        data: datadoughnut,
        options: {
          responsive: true,
          plugins: {
            legend: {
              position: 'top',
            },
            title: {
              display: true,
              text: 'Payment Details'
            }
          }
        },
      };
      //render inti block for doughnutChart
      const doughnutChart = new Chart(
        document.getElementById('doughnutChart'),
        configdoughnut
      );
    </script>
    {% endblock content %}
  </div>
</div>