{% extends 'include/adminbase.html' %}
{% load static %}
{% block content %}

<div class="main-panel">
    <div class="content">
        <div class="panel-header bg-white shadow-sm">
            <div class="page-inner  py-3 mb-5">
                <div class="d-flex align-items-left align-items-md-center flex-column flex-md-row">
                    <div class="">
                        <div class="header d-sm-flex align-items-center  text-center">
                            <h1 class="page-header banner-title">Orders</h1>
                            <ul class="breadcrumb justify-content-sm-start justify-content-center">
                                <li><a href="../index.html"><i class="icon-home"></i></a></li>
                                <li><a href="#">Sales</a></li>
                                <li><a href="#">Orders</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="page-inner">
            <div class="row">

                <div class="col-md-12">
                    <div class="card">
                        <div class="card-header">
                            <h4 class="card-title"><i class="fa fa-list"></i> Order List</h4>
                        </div>
                        <div class="card-body">
                            <div class="table-responsive">
                                <table id="basic-datatables" class="display table table-hover">
                                    <thead>

                                        <tr>
                                            <th>order ID</th>
                                            <th>Product</th>
                                            <th>Payment Method</th>
                                            <th>Order Status</th>
                                            <th>Date</th>
                                            <th>Total</th>
                                            <th class="text-right">Action</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for order_list in order_list %}
                                        <tr>
                                            <td id="">{{order_list.order.order_number}}</td>
                                            <td>
                                                <div class="d-flex">
                                                    <img src="{{order_list.product.image1.url}}" alt="product"
                                                        class="img-fluid img-thumbnail">
                                                </div>
                                            </td>
                                            <td>{{order_list.payment.payment_method}}</td>
                                            <td><span class="badge badge-danger">{{order_list.order.status}}</span></td>
                                            <td>{{order_list.created_at}}</td>
                                            <td>₹{{order_list.product_price}}</td>
                                            {% if order_list.status != 'Cancelled' %}
                                            <td>
                                                <select class="form-control mySelect selectOption" id="optionselected"
                                                    data-id={{order_list.order.order_number}}>

                                                    <option value="">Choose</option>
                                                    <option value="Shipped">Shipped</option>
                                                    <option value="Accepted">Accepted</option>
                                                    <option value="Placed">Placed</option>
                                                    <option value="Cancelled">Cancelled</option>
                                                </select>
                                            </td>
                                            {% endif %}
                                        </tr>
                                    </tbody>
                                    {% endfor %}
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <script>

        data = document.getElementsByClassName('selectOption')
        for (i = 0; i < data.length; i++) {
            data[i].addEventListener("change", function () {
                order = this.dataset.id
                var optionVal = this.value
                changestatus(order, optionVal)
            })
        }
        function changestatus(order, optionVal) {
            var ordernumber = order;
            $.ajax({
                type: "POST",
                url: '{% url 'order_status' %}',
                data: {
                    optionVal: optionVal,
                    ordernumber: ordernumber,
                },
                dataType: 'json',
                success: successHandler,

            });
        }

        function successHandler(data) {
            if (data.msg === 'success') {
                alert(data.message);
                location.reload();

            }
        }
    </script>

    {% endblock %}