{% extends 'include/adminbase.html' %} 
{% block content %}

<div class="main-panel">
			<div class="content">
				<div class="panel-header bg-white shadow-sm">
					<div class="page-inner  py-3 mb-5">
						<div class="d-flex align-items-left align-items-md-center flex-column flex-md-row">
							<div class="">
								<div class="header d-sm-flex align-items-center  text-center"> 
				                    <h1 class="page-header banner-title">Product Offer List</h1>
									<ul class="breadcrumb justify-content-sm-start justify-content-center">
									  	
									  	<li><a href="#">Offers</a></li>
									  	<li><a href="#">Product Offer List</a></li>
									</ul> 			
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="page-inner transaction-details">
					<div class="row">
						<div class="col-12">
							<div class="card">
								{% include  'include/alerts.html' %}
								<div class="card-header">
									<div class="card-head-row justify-content-between">
										<div class="card-title"><i class="fa fa-list"></i>Product Offer List</div>
										<div class="add-btn">
											<a class="btn btn-primary" href="{% url 'productoffer' %}" data-toggle="tooltip" title="" data-original-title="Create Coupon"><i class="fa fa-plus"></i>
											</a>
										</div>
									</div>
								</div>
								
								<div class="card-body">
									<div class="table-responsive dataTables_scroll">
										<table id="basic-datatables" class="display table table-hover table-fixed" >
											<thead>
												<tr>
													<th>Offer Name</th>
													<th>Product Name</th>
													<th>Discount</th>
													<th>Start Date</th>
													<th>End Date</th>
													<th class="text-right">Action</th>
												</tr>
											</thead>
											<tbody>
											{% for offer_list in offer_list %}
												<tr>
												
													<td>{{offer_list.offername}}</td>
													<td>{{offer_list.product.product_name}}</td>
													<td>{{offer_list.dis_percentage}}%</td>
													<td>{{offer_list.startdate}}</td>
													<td>{{offer_list.enddate}}</td>
													<td class="text-right">
														<div class="form-button-action">
															
															<button data-toggle="tooltip" title="" onclick="delete_product('{{offer_list.id}}')" class="btn btn-link btn-danger offerdelete"  data-original-title="Remove">
																<i class="fa fa-times"></i>
															</button>
														</div>
													</td>
												
												</tr>
												{% endfor %}
											</tbody>
										</table>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>

<script>



		function delete_product(offerid){
			var offer_id= offerid;
			var csrftoken = '{{ csrf_token }}'

			console.log("-----loged2------", offerid)
		
			/*$.ajax({
				type: "POST",
				headers:{'X-CSRFToken':csrftoken},
				url: '{% url 'delete_product_offer' %}',
				data: {offer_id:offer_id},
				dataType: 'json',
				success: function(data){
					if (data.msg === 'success'){
						alert(data.message)
						};
					
					else{
						alert(data.message)
					};
				},
				error: function(){
					console.log("something wrong")
				}
			});*/
		} 
</script>

{% endblock %}