{% extends 'include/adminbase.html' %}
{% load static %}
{% block content %}
<div class="main-panel">
	<div class="content">
		<div class="panel-header bg-white shadow-sm">
			<div class="page-inner  py-3 mb-5">
				<div class="d-flex align-items-left align-items-md-center flex-column flex-md-row">
					<div class="">
						<div class="header d-sm-flex align-items-center  text-center">
							<h1 class="page-header banner-title">Products</h1>
							<ul class="breadcrumb justify-content-sm-start justify-content-center">
								<li><a href="../index.html"><i class="fa fa home"></i></a></li>
								<li><a href="#">Products</a></li>
								<li><a href="{% url 'productlist' %}">Products List</a></li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="page-inner">
			<div class="row">
				<div class="col-md-12">
					<div class="card">
						<div class="card-header">

							<div class="card-head-row justify-content-between">
								<div class="card-title"><i class="fa fa-list"></i> Products List</div>
								<div class="add-btn">
									<a class="btn btn-primary" href="{% url 'addproduct' %}" data-toggle="tooltip"
										title="" data-original-title="Add Product"><i class="fa fa-plus"></i>
									</a>
								</div>
							</div>
						</div>
						<div id="refresh_body" class="card-body">
							{% include 'include/alerts.html' %}
							<div class="table-responsive">
								<table id="multi-filter-select" class="display table table-hover">
									<thead>
										<tr>
											<th>Image</th>
											<th>Product Name</th>
											<th>Price</th>
											<th>stock</th>
											<th>Sub Category</th>
											<th>Category</th>
											<th class="text-right">Edit</th>
											<th class="text-right">Delete</th>
										</tr>
									</thead>
									<tbody>
										<tr>
											{% for product in data %}

											<td>
												<img src="{{product.image1.url}}" alt="product"
													class="img-fluid img-thumbnail">
											</td>
											<td>{{product.product_name}}</td>
											<td>{{product.price}}</td>
											<td>{{product.stock}}</td>

											<td>{{product.subcategory.sub_category}}</td>
											<td>{{product.subcategory.category.category_name}}</td>

											<td class="text-right">
												<a class="btn btn-primary" href="{% url 'editproduct' product.id%}"
													data-toggle="tooltip" title="" data-original-title="delete"><i
														class="fa fa-edit"></i></a>
											</td>
											<td class="text-right">
												<a class="btn btn-primary" onclick="productdelete('{{product.id}}')" 
													data-toggle="tooltip" title="" data-original-title="delete"><i
														class="fa fa-trash"></i></a>
											</td>

										</tr>
										{% endfor %}
									</tbody>
								</table>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<!-- custom JS -->
<script src="https://aaryaweb.info/html/stylexpo/admin/assets/js/custom.js"></script>

<script>
	$(document).ready(function () {
		$('#multi-filter-select').DataTable({
			"pageLength": 6,
			initComplete: function () {
				this.api().columns().every(function () {
					var column = this;
					var select = $('<select class="form-control"><option value="">All</option></select>')
						.appendTo($(column.footer()).empty())
						.on('change', function () {
							var val = $.fn.dataTable.util.escapeRegex(
								$(this).val()
							);

							column
								.search(val ? '^' + val + '$' : '', true, false)
								.draw();
						});

					column.data().unique().sort().each(function (d, j) {
						select.append('<option value="' + d + '">' + d + '</option>')
					});
				});
			}
		});
	});
</script>

{% endblock content %}