{% extends 'include/base.html' %}
{% block content %}

<!-- CONTAIN START -->
<section class="checkout-section ptb-70">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="checkout-step mb-40">
          <ul>
            <li class="active">
              <a href="">
                <div class="step">
                  <div class="line"></div>
                  <div class="circle">1</div>
                </div>
                <span>Shipping</span>
              </a>
            </li>
            <li>
              <a href="">
                <div class="step">
                  <div class="line"></div>
                  <div class="circle">2</div>
                </div>
                <span>Order Overview & Payment</span>
              </a>
            </li>
            <li>
              <a href="">
                <div class="step">
                  <div class="line"></div>
                  <div class="circle">3</div>
                </div>
                <span>Order Complete</span>
              </a>
            </li>
            <li>
              <div class="step">
                <div class="line"></div>
              </div>
            </li>
          </ul>
          <hr>
        </div>
        <div class="row">
          <div class="checkout-content col-8">
            <div class="row">
              <div class="col-12">
                <div class="heading-part align-center">
                  <h2 class="heading">Please fill up your Shipping details</h2>
                </div>
              </div>
            </div>
            <div class="row justify-content-center">
              <div class="col-xl-6 col-lg-8 col-md-8">
                <form id="checkid" action="{% url 'checkout' %}" method="POST" class="main-form full">
                  {% csrf_token %}
                  <div class="row mb-20">
                    <div class="col-12 mb-20">
                      <div class="heading-part">
                        <h3 class="sub-heading">Shipping Address</h3>
                      </div>
                      <hr>
                    </div>
                    <div class="col-md-6">
                      <div class="input-box">
                        <input type="text" id="firstname" onkeyup="firstnameValidation()" placeholder="First Name" name=first_name>
                        <div><small style="color: red;" id="fnameMessage" ></small>  </div>
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="input-box">
                        <input type="text" id="lastname" onkeyup="lastnameValidation()"  placeholder="Last Name" name=last_name>
                        <div><small style="color: red;" id="lnameMessage" ></small>  </div>
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="input-box">
                        <input type="email" id="InputEmail" onkeyup="emailValidation()"  placeholder="Email Address" name=email>
                        <div><small style="color: red;" id="emailMessage" ></small>  </div>
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="input-box">
                        <input type="text" id="inputphone" onkeyup="numberValidation()" maxlength="10" placeholder="Contact Number" name=phone_number>
                        <div><small style="color: red;" id="numberMessage" ></small>  </div>
                      </div>
                    </div>
                    <div class="col-md-12">
                      <div class="input-box">
                        <input type="text" id="inputaddress" onkeyup="addressValidation()" placeholder="Address line 1" name=address1>
                        <div><small style="color: red;" id="addressMessage" ></small>  </div>
                      </div>
                    </div>
                    <div class="col-md-12">
                      <div class="input-box">
                        <input type="text" placeholder="Address line 2" name=address2>
                      </div>
                    </div>

                    <div class="col-md-6">
                      <div class="input-box select-dropdown">
                        <fieldset>
                          <select name="country" class="option-drop" id="shippingcountryid">
                            <option selected="" value="">Select Country</option>
                            <option value="India">India</option>
                          </select>
                        </fieldset>
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="input-box select-dropdown">
                        <fieldset>
                          <select name="state" class="option-drop" id="shippingstateid">
                            <option value="">Select a State</option>
                            <option value="Kerala">Kerala</option>
                            <option value="TN">Tamil Nadu</option>

                          </select>
                        </fieldset>
                      </div>
                    </div>

                    <div class="col-md-6">
                      <div class="input-box">
                        <input type="text" placeholder="City" onkeyup="pincodeValidation()" name=city id="cityid">
                        <div><small style="color: red;" id="cityMessage" ></small></div>
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="input-box">
                        <input type="text" maxlength="6" id="zipcode" onkeyup="pincodeValidation()" placeholder="Postcode/zip" name=pin >
                        <div><small style="color: red;" id="zipMessage" ></small></div>
                      </div>
                    </div>
                  </div>
                  <p for="">address type</p>
                  <div class="row">

                    <div class="col-md-6">
                      <div class="custom-control custom-radio">
                        <input type="radio" class="custom-control-input" id="defaultChecked" value="home"
                          name="address_type" checked required>
                        <label class="custom-control-label" for="defaultChecked">Home</label>
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="custom-control custom-radio">
                        <input type="radio" class="custom-control-input" id="defaultChecked2" value="company"
                          name="address_type" required>
                        <label class="custom-control-label" for="defaultChecked2">Company</label>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-12 align-center p-3">
                    <button onclick="check()"  type="button" class="btn btn-color ">Add Address</button>
                  </div>
              </div>
              </form>
            </div>
          </div>
        </div>
    <script>
    function firstnameValidation(){
        
        var check1 = /^[-a-zA-Z-()]+(\s+[-a-zA-Z-()]+)*$/;
        var regex = /^[0-9]*\d$/;
        var name1 = document.getElementById("firstname").value
        if(name1==""){
            
            document.getElementById("fnameMessage").innerHTML= "This field is required!";
            return false;
        }else if(check1.test(name1)){
            document.getElementById("fnameMessage").innerHTML ="";
            return true;
        }else if(regex.test(name1)){
                document.getElementById("fnameMessage").innerHTML ="Enter characters.";
                return false;
        }else{
            document.getElementById("fnameMessage").innerHTML = "Enter valid name."
        }
    }

    function cityValidation(){
        
        var check1 = /^[-a-zA-Z-()]+(\s+[-a-zA-Z-()]+)*$/;
        var regex = /^[0-9]*\d$/;
        var name1 = document.getElementById("cityid").value
        if(name1==""){
            
            document.getElementById("cityMessage").innerHTML= "This field is required!";
            return false;
        }else if(check1.test(name1)){
            document.getElementById("cityMessage").innerHTML ="";
            return true;
        }else if(regex.test(name1)){
                document.getElementById("cityMessage").innerHTML ="Enter characters.";
                return false;
        }else{
            document.getElementById("cityMessage").innerHTML = "Enter valid name."
        }
    }
    
    function lastnameValidation(){
        
        var check1 = /^[-a-zA-Z-()]+(\s+[-a-zA-Z-()]+)*$/;
        var regex = /^[0-9]*\d$/;
        var name1 = document.getElementById("lastname").value
        if(name1==""){
            
            document.getElementById("lnameMessage").innerHTML= "This field is required!";
            return false;
        }else if(check1.test(name1)){
            document.getElementById("lnameMessage").innerHTML ="";
            return true;
        }else if(regex.test(name1)){
                document.getElementById("lnameMessage").innerHTML ="Enter characters.";
                return false;
        }else{
            document.getElementById("lnameMessage").innerHTML = "Not valid."
        }
    }
    
    function emailValidation(){
        var pattern = /^[^]+@[^]+\.[a-z]{2,3}$/; 
        var email1 = document.getElementById("InputEmail").value
        if(email1==""){
            document.getElementById("emailMessage").innerHTML= "This field is required!";
            return false;
        }else if(email1.match(pattern)){
            document.getElementById("emailMessage").innerHTML ="";
            return true;
        }else{
            document.getElementById("emailMessage").innerHTML ="Enter a valid email";
            return false;
        }
    }

    function addressValidation(){
      var addresspattern = /^[a-zA-Z0-9\s,.'-]{3,}$/ 
      var address = document.getElementById("inputaddress").value
      if(address==""){
            document.getElementById("addressMessage").innerHTML= "This field is required!";
            return false;
        }else if (address.match(addresspattern)){
          document.getElementById("addressMessage").innerHTML= "";
          return true;
        }

    }
    function pincodeValidation(){
      var val = /^[1-9][0-9]{5}$/

      var zip = document.getElementById("zipcode").value;
      if(isNaN(zip) ){
        document.getElementById("zipMessage").innerHTML = "Not valid pincode."
        return false;
    }
    else if(zip==""){
        document.getElementById("zipMessage").innerHTML = "This feild is required!"
        return false;
    }else if(zip.match(val)){
        document.getElementById("zipMessage").innerHTML = ""
        return true
    }

  }

    function numberValidation(){
    var val = /^[6789]\d{9}$/
    var charct =  /^[a-zA-Z ]*$/
    
    var number1 = document.getElementById("inputphone").value;
    if(isNaN(number1) ){
        document.getElementById("numberMessage").innerHTML = "Not valid number."
        return false;

    }
    else if(number1==""){
        document.getElementById("numberMessage").innerHTML = "This feild is required!"
        return false;
    }else if(number1.match(val)){
        document.getElementById("numberMessage").innerHTML = ""
        return true
    }else{
         
       if(number1.length<10){
            document.getElementById("numberMessage").innerHTML = "Enter minimum 10 digits."
            return false
        }
        else{
            document.getElementById("numberMessage").innerHTML = ""
            return true
        }
    }
}
function check(){

  if (firstnameValidation() && lastnameValidation() && emailValidation() && addressValidation() && pincodeValidation() && numberValidation()){
    document.getElementById('checkid').submit()
      
  }else{

    firstnameValidation();
    lastnameValidation();
    emailValidation();
    addressValidation();
    pincodeValidation();
    numberValidation()
  } 

}
</script>
{% endblock %}