{% extends 'include/base.html' %}
{% block content %}

<!-- CONTAIN START -->
<section class="checkout-section ptb-70">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="checkout-step mb-40">
          <ul>
            <li class="active">
              <a href="">
                <div class="step">
                  <div class="line"></div>
                  <div class="circle">1</div>
                </div>
                <span>Shipping</span>
              </a>
            </li>
            <li>
              <a href="">
                <div class="step">
                  <div class="line"></div>
                  <div class="circle">2</div>
                </div>
                <span>Order Overview & Payment</span>
              </a>
            </li>
            <li>
              <a href="">
                <div class="step">
                  <div class="line"></div>
                  <div class="circle">3</div>
                </div>
                <span>Order Complete</span>
              </a>
            </li>
            <li>
              <div class="step">
                <div class="line"></div>
              </div>
            </li>
          </ul>
          <hr>
        </div>
        <div class="row">
          {% include 'include/alerts.html' %}
          <div class="col-8 pt-4">
            <div class="cart-total-table address-box commun-table mb-30">
              <div id="here" class="table">
                <table   class="table">
                  <thead>
                    <tr>
                      <th>Shipping Address</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td>
                        <ul>
                          <form action="{% url 'place_order' address_count %}" method="POST">
                            {% csrf_token %}
                            {% if address_count == 0 %}
                            <p style="font-weight: bold;"> Add Address here</p>
                            {% else %}
                            <p style="font-weight: bold;"> Saved Address </p>
                            {% endif %}

                            {% for address in useraddress %}
                            <div class="row" id="hide_address">
                              <div class=" col-md-8 custom-control custom-radio mt-3">

                                <input type="radio"  name="address-id" value="{{address.id}}" required>

                                <label style="font-weight: bold;">{{address.first_name}}</label>

                                <li>
                                  <p>{{address.first_address}}</p>
                                  <p>{{address.second_address}}</p>
                                </li>
                                <li>
                                  <p>{{address.city}}, {{address.state}},{{address.pin}}</p>
                                  <p>{{address.country}}</p>
                                </li>
                              </div>
                              <div class="col-md-4 ml-5">
                                <button type="button" onclick="delete_address('{{address.id}}')"><i class="fa fa-trash fa-lg"></i>
                                </button>
                              </div>

                            </div>
                            {% endfor%}
                        </ul>
                      </td>
                    </tr>
                  </tbody>
                </table>
                <div class="row">
                  {% if address_count != 0 %}
                  <div class="col-md-6 align-left p-3">
                    <button type="submit" class="btn btn-color ">Continue</button>
                  </div>
                  {% endif %}
                  <div class="col-md-6 align-right p-3">
                    <a href="{% url 'add_address' %}" class="btn btn-color ">Add Address</a>
                  </div>
                </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- CONTAINER END -->

<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
<script>
  function delete_address(id)
  {
    swal({
            title: "Are you sure?",
            icon: "warning",
            buttons: true,
            dangerMode: true,
          })
        .then((willDelete) => {
          
          if (willDelete) {
            var addressid = id;
            $.ajax({

                type: "GET",
                url: "{% url 'delete_useraddress' %}",
                data: { addressid: addressid },
                dataType: 'json',
                success: function (data) {
                  swal("Poof! Your imaginary file has been deleted!", {
                          icon: "success",
                        });
                      $( "#here" ).load(window.location.href + " #here" );
                },
                error: function (data) {
                    alert('something went wrong')
                }
            });
    }
    else {
              swal("Your product not deleted");
            }
    });
  }
  
</script>
{% endblock %}