{% extends 'include/base.html'%}
{% load static%}
{% block content %}

<!-- Bread Crumb STRAT -->


<div class="container mt-sm-15">
  <div class="banner inner-banner1 ">
    <section class="banner-detail center-xs">
      <h1 class="banner-title">Shopping Cart</h1>
      <div class="bread-crumb right-side float-none-xs">
        <ul>
          <li><a href="{% url 'index' %}">Home</a>/</li>
          <li><span>Shopping Cart</span></li>
        </ul>
      </div>
    </section>
  </div>
</div>
<!-- Bread Crumb END -->

<!-- CONTAIN START -->
<section class="ptb-70">
  <div class="container" id="delete_cartitems">
    {% if not cart_items %}
    <div id="cart_empty" class="text-center">
      <p style="font-family:Bilbo Swash Caps;font-size: 50px; ">Oops!! Your Cart is Empty</p>
      <div class="p-5"><i class="far fa-frown " style="font-size: 100px;color :#ec2d48"></i></div>
    </div>

    <div class="col-md-12 d-flex justify-content-center">
      <div class="mt-30 ">
        <a href="{% url 'index' %}" class="btn btn-color">
          <span><i class="fa fa-angle-left"></i></span>
          Shop now
        </a>
      </div>
    </div>
    {% else %}
    <div  class=" row" id ="refresh_qty">
      <div class="col-12">
        <div class="cart-item-table commun-table">
          <div class="table-responsive">
            <table class="table" >
              <thead>
                <tr>
                  <th>Product</th>
                  <th>Product Name</th>
                  <th>Price</th>
                  <th>Quantity</th>
                  <th>Action</th>
                </tr>
              </thead>
              <tbody>
                {% for subtotal , cart_item in zipped_data %}
                <tr >
                  <td>
                    <div class="product-image">
                      <img alt="Stylexpo" src="{{cart_item.product.image1.url}}">
                    </div>
                  </td>
                  <td>
                    <div class="product-title">
                      {% if cart_item.product.subcategory.category.category_name == 'Clothings' %}
                      <a href="{{cart_item.product.get_url}}">{{cart_item.product.product_name}}</a>
                      {% elif cart_item.product.subcategory.category.category_name == 'Footwears' %}
                      <a href="{{cart_item.product.get_url}}">{{cart_item.product.product_name}}</a>
                      {% endif %}
                    </div>
                  </td>
                  <td>
                    <ul>
                      <li>
                        {% if cart_item.product.is_offer_avail and cart_item.product.category_offer_avail %}
                          <div class="base-price price-box">
                            <span class="price">₹{{subtotal}} </span>  
                          </div>
                        {% elif cart_item.product.is_offer_avail == True %}
                          <div class="base-price price-box">
                            <span class="price">₹{{subtotal}}</span>
                          
                          </div>
                        {% elif cart_item.product.category_offer_avail == True %}
                          <div class="base-price price-box">
                            <span class="price">₹{{subtotal}}</span>
                            
                          </div>
                        {% else %}
                          <div class="base-price price-box">
                            <span class="price">₹{{subtotal}}</span>
                          </div>
                        {% endif %}
                      </li>
                    </ul>
                  </td>
                  <td>
                    <div class="product-qty ">
                      <label for="qty">Qty:</label>
                      <div  class="custom-qty">
                            <a onclick="minuscart('{{cart_item.product.id }}')" class="reduced items"> <i
                              class="fa fa-minus"></i> </a>
                        <input type="text" id="product_quantity" class="input-text qty" title="Qty" value="{{cart_item.quantity}}"
                            name="qty">
                        <a onclick="AddCart('{{cart_item.product.id}}')" class="increase items"> <i
                            class="fa fa-plus"></i> </a>
                      </div>
                    </div>
                  </td>
                  <td>
                    <a onclick="deletecart('{{cart_item.product.id}}')"><i title="Remove Item From Cart"
                      data-id="100" class="fa fa-trash cart-remove-item"></i></a>
                  </td>
                </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
    <div id="hide_shop_button" class="mb-30">
      <div class="row">
        <div class="col-md-6">
          <div class="mt-30">
            <a href="{% url 'index' %}" class="btn btn-color">
              <span><i class="fa fa-angle-left"></i></span>
              Continue Shopping
            </a>
          </div>
        </div>
      </div>
    </div>
    <hr>
    <div id="hide_cart_total" class="mtb-30">
      <div class="row">
        <div class="col-md-6">
          <div class="cart-total-table commun-table">
            <div id="here" class="table-responsive">
              <table  class="table">
                <thead>
                  <tr>
                    <th colspan="2">Cart Total</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>Item(s) Subtotal</td>
                    <td>
                      <div class="price-box">
                        <span id="subtotal" class="price">₹{{total}}</span>
                      </div>
                    </td>
                  </tr>
                  <tr>
                    <td>Shipping (Free shipping for item above 1200)</td>
                    <td>
                      <div class="price-box">
                        <span class="price">₹{{shipping}}</span>
                      </div>
                    </td>
                  </tr>
                  <tr>
                  <tr>
                    <td>Tax</td>
                    <td>
                      <div class="price-box">
                        <span id="tax" class="price">{{tax}}</span>
                      </div>
                    </td>
                  </tr>
                  <td><b>Amount Payable</b></td>
                  <td>
                    <div class="price-box">
                      <span id="grand_total" class="price"><b>₹{{grand_total}}</b></span>
                    </div>
                  </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
    <hr>
    <div id="hide_button" class="mt-30">
      <div class="row">
        <div class="col-12">
          {% if user.is_authenticated %}
          <div class="left-side float-none-xs">
            <a href="{% url 'checkout' %}" class="btn btn-color">Place Order
              <span><i class="fa fa-angle-right"></i></span>
            </a>
          </div>
          {% else %}
          <div class="left-side float-none-xs">
            <a href="{% url 'loginnavigation' %}" class="btn btn-color">Login
              <span><i class="fa fa-angle-right"></i></span>
            </a>
          </div>
          {% endif %}
        </div>
      </div>
    </div>
    {% endif %}
  </div>
</section>
<script src="https://kit.fontawesome.com/d476ce10a9.js" crossorigin="anonymous"></script>





<!-- CONTAINER END -->
{% endblock %}
