{% extends 'include/base.html' %}
{% block content %}
<div id="data-step2" class="account-content" data-temp="tabdata" style="display: none">
          <div class="row">
            <div class="col-12">
              <h4 class="heading m-0" style="font-weight: bold; font-size: 20px">
                Edit Profile
              </h4>
            </div>
          </div>
          <hr>
          <div class="m-0">
            <form class="main-form full" onsubmit="return checkFileValid()" action="{% url 'edit_profile' user_details.id %}" method="POST" enctype="multipart/form-data">
              {% csrf_token %}
              <div class="mb-20">
                <div class="row">
                  <div class="col-12 mb-20">
                    <hr />
                    <br />
                  </div>
                  <div class="col-md-12 pb-2 float-right">
                    {% if user_picture.profile_picture %}
                  <img  src="{{user_picture.profile_picture.url}}" alt="Avatar" class="avatar" width="100"
                    {% else %}
                    
                    {% endif %}
                  height="100" style="border-radius: 50%" /></div>
                  <div class="col-md-6">
                    <div class="input-box">
                      <input type="text" required placeholder="First Name" name="first_name"
                        value="{{user_details.first_name}}" />
                    </div>
                  </div>
                  
                    <div class="col-md-6">
                      <div class="input-box">
                        <input type="text" required placeholder="Last Name" name="last_name"
                          value="{{user_details.last_name}}" />
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="input-box">
                        <input type="email" required placeholder="Email Address" name="email"
                          value="{{user_details.email}}" />
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="input-box">
                        <input type="text" required placeholder="Contact Number" name="phone_number"
                          value="{{user_details.phone_number}}" />
                      </div>
                    </div>
                    <div class="col-12" >
                      <div class="custom-file mt-3">
                        <input type="file" class="custom-file-input" name="pic" id="image" accept=".jpg,.jpeg,.png"  onchange=" validateFileType()">
                        <label class="custom-file-label" for="customFile">Choose file</label>
                        </div>
                        <div><small style="color: red;" id="imageError" ></small>  </div>
                    </div>
                  <div class="col-md-12 align-center p-3">
                    <button type="submit" onckick="checkFileValid"  class="btn btn-color">
                      Save
                    </button>
                  </div>
                </div>
              </div>
            </form>
          </div>
        </div>

{% endblock %}