{% extends 'include/base.html' %}
{% load static %}
{% block content%}


<link rel="stylesheet" href="{% static 'csszoom/jquery-picZoomer.css' %}">
<script src="http://code.jquery.com/jquery-1.11.3.min.js"></script>
<script src="{% static 'src/jquery.picZoomer.js' %}"></script>

<style>
  .piclist{
        margin-top: 30px;
    }
    .piclist li{
        display: inline-block;
        width: 50px;
        height: 50px;
    }
    .piclist li img{
        width: 100%;
        height: auto;
    }

    /* custom style */
    .picZoomer-pic-wp,
    .picZoomer-zoom-wp{
        border: 1px solid #fff;
    }

</style>


<!-- Bread Crumb STRAT -->
<div class="container mt-sm-15">
  <div class="banner inner-banner1 ">
    <section class="banner-detail center-xs">
      <h1 class="banner-title">Women</h1>
      <div class="bread-crumb right-side float-none-xs">
        <ul>
          <li><a href="{% url 'index' %}">Home</a>/</li>
          <li><span>Women</span></li>
        </ul>
      </div>
    </section>
  </div>
</div>
<!-- Bread Crumb END -->

<!-- CONTAIN START -->


<div class="container">
  <div class="row" style="margin-bottom: 40px;">
    <!-- left side -->
      <div class="col-lg-6 ">
        <div class="picZoomer" style="max-width: 500px !important;">
          <img src="{{all_data.image1.url}}" alt="">
      </div>
      <ul class="piclist">
        <li><img src="{{all_data.image1.url}}" alt=""></li>
        <li><img src="{{all_data.image2.url}}" alt=""></li>
        <li><img src="{{all_data.image3.url}}" alt=""></li>
        <li><img src="{{all_data.image4.url}}" alt=""></li>
    </ul>
      </div>

      <!-- right side -->
      <div class="col-lg-6">

        <div class="product-detail-main">
          <div class="product-item-details">
            <h1 class="product-item-name">{{all_data.product_name}}</h1>
            <div class="rating-summary-block">
              <div title="53%" class="rating-result"> <span style="width:53%"></span> </div>
            </div>
            {% if all_data.is_offer_avail and all_data.category_offer_avail %}
          <div class="price-box"><del >₹{{all_data.price}} </del><span class="price ml-2">₹{{all_data.compare}}</span></div>
            {% elif all_data.is_offer_avail == True %}
            <div class="price-box"> <span class="price">₹{{all_data.offer_price}}</span> <del
                class="price old-price">₹{{all_data.price}}</del> </div>
            <div><b> Product offer applied</b></div>
            {% elif all_data.category_offer_avail == True %}
            <div class="price-box"> <span class="price">₹{{all_data.category_offer_price}}</span> <del
                class="price old-price">₹{{all_data.price}}</del> </div>
            <div><b>Category offer applied</b></div>
            {% else %}
            <div class="price-box"> <span class="price">₹{{all_data.price}}</span> </div>
            {% endif %}
            <div class="product-info-stock-sku">
              <div>
                <label>Availability: </label>
                {% if all_data.stock >= 0 %}
                <span class="info-deta">In stock</span>
                {% else %}
                <span class="info-deta">Out of stock</span>
                {% endif %}
              </div>

            </div>
            <p>{{all_data.product_description}} </p>

            <div class="bottom-detail cart-button">
              <ul>
                <li class="pro-cart-icon">
                  {% if in_cart %}
                  <div class="row pl -3">
                    <form action="">
                      <button title="Add to Cart" class=" btn-success">Added to Cart <i
                          class="fa fa-check"></i></button>
                    </form>
                    <div class="pl-4">
                      <form action="{% url 'add_cart' all_data.id %}">
                        <button title="Add to Cart" class=" btn-color">View Cart <i class="fa fa_eye"></i>
                        </button>
                      </form>
                    </div>
                  </div>
                  {% else %}

                  <form action="{% url 'add_cart' all_data.id %}">
                    <button title="Add to Cart" class="btn-color "><span></span>Add to Cart</button>
                  </form>
                  {% endif %}
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
  </div>

<script src="https://kit.fontawesome.com/d476ce10a9.js" crossorigin="anonymous"></script>
<script>
	$('.picZoomer').picZoomer();

  $('.piclist li').on('click',function(event){
  var $pic = $(this).find('img');
  $('.picZoomer-pic').attr('src',$pic.attr('src'));
});
</script>

<!-- CONTAINER END -->
{% endblock content %}