{% extends 'include/base.html' %}
{% load static %}
{% block content %}
<!-- Bread Crumb STRAT -->
<div class="container mt-sm-15">
  <div class="banner inner-banner1 ">
    <section class="banner-detail center-xs">
      <h1 class="banner-title">Register</h1>
      <div class="bread-crumb right-side float-none-xs">
        <ul>
          <li><a href="{% url 'index' %}">Home</a>/</li>
          <li><span>Register</span></li>
        </ul>
      </div>
    </section>
  </div>
</div>
<!-- Bread Crumb END -->

<!-- CONTAIN START -->
<section class="checkout-section ptb-70">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="row justify-content-center">
          <div class="col-xl-6 col-lg-8 col-md-8 ">
            <form class="main-form full" action="{%url 'register' %}" method='POST'>
              {% csrf_token %}
              <div class="row ">
                <div class="col-12 mb-20">
                  <div class="heading-part heading-bg">
                    <h2 class="heading">Create your account</h2>
                  </div>
                </div>
                <div class="col-12">
                  <div class="input-box">
                    <label for="f-name">Username</label>
                    <input id="inputName" onkeyup="usernameValidation()" type="text" name="username" placeholder="Username">
                    <div><small style="color: red;" id="nameMessage" ></small>  </div>
                  </div>
                </div>
                <div class="col-12">
                  <div class="input-box">
                    <label for="f-name">First Name</label>
                    <input type="text"  id="firstname" onkeyup="firstnameValidation()" name="first_name" placeholder="First Name">
                    <div><small style="color: red;" id="fnameMessage" ></small>  </div>
                  </div>
                </div>
                <div class="col-12">
                  <div class="input-box">
                    <label for="l-name">Last Name</label>
                    <input type="text" id="lastname" name="last_name"  onkeyup="lastnameValidation()" placeholder="Last Name">
                    <div><small style="color: red;" id="lnameMessage"></small>  </div>
                  </div>
                </div>
                <div class="col-12">
                  <div class="input-box">
                    <label for="login-email">Email address</label>
                    <input id="InputEmail" onkeyup="emailValidation()" type="email" name="email" placeholder="Email Address">
                    <div><small style="color: red;" id="emailMessage"></small>  </div>
                  </div>
                </div>
                <div class="col-12">
                  <div class="input-box">
                    <label for="login-pass">Password</label>
                    <input id="login-pass" type="password" name="password1" placeholder="Enter your Password">
                  </div>
                </div>
                <div class="col-12">
                  <div class="input-box">
                    <label for="re-enter-pass">Re-enter Password</label>
                    <input id="re-enter-pass" type="password" name="password2" placeholder="Re-enter your Password">
                  </div>
                </div>
                <div class="col-12 text-center">
                  <button name="submit" type="submit" class="btn-color ">Submit</button>
                </div>

                <div class="ml-3" style="text-align:center; color : red ;">
                  {% for message in messages %}
                  <small>{{message}}</small>
                  {% endfor %}
                </div>
                <div class="col-12">
                  <hr>
                  <div class="new-account align-center mt-20"> <span>Already have an account with us</span> <a
                      class="link" href="{%url 'login' %}">Login Here</a> </div>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- CONTAINER END -->

<script>
  function usernameValidation(){
   
   var check1 = /^[-a-zA-Z-()]+(\s+[-a-zA-Z-()]+)*$/;
   var regex = /^[0-9]*\d$/;
   var name1 = document.getElementById("inputName").value
   console.log('inside fun')
   if(name1==""){
       
       document.getElementById("nameMessage").innerHTML= "This field is required!";
       return false;
   }else if(check1.test(name1)){
       document.getElementById("nameMessage").innerHTML ="";
       return true;
   }else if(regex.test(name1)){
           document.getElementById("nameMessage").innerHTML ="Enter characters.";
           return false;
   }else{
       document.getElementById("nameMessage").innerHTML = "Enter valid name."
   }
}
function firstnameValidation(){
   
   var check1 = /^[-a-zA-Z-()]+(\s+[-a-zA-Z-()]+)*$/;
   var regex = /^[0-9]*\d$/;
   var name1 = document.getElementById("firstname").value
   console.log('inside fun')
   if(name1==""){
       
       document.getElementById("fnameMessage").innerHTML= "This field is required!";
       return false;
   }else if(check1.test(name1)){
       document.getElementById("fnameMessage").innerHTML ="";
       return true;
   }else if(regex.test(name1)){
           document.getElementById("fnameMessage").innerHTML ="Enter characters.";
           return false;
   }else{
       document.getElementById("fnameMessage").innerHTML = "Enter valid name."
   }
}

function lastnameValidation(){
   
   var check1 = /^[-a-zA-Z-()]+(\s+[-a-zA-Z-()]+)*$/;
   var regex = /^[0-9]*\d$/;
   var name1 = document.getElementById("lastname").value
   console.log('inside fun')
   if(name1==""){
       
       document.getElementById("lnameMessage").innerHTML= "This field is required!";
       return false;
   }else if(check1.test(name1)){
       document.getElementById("lnameMessage").innerHTML ="";
       return true;
   }else if(regex.test(name1)){
           document.getElementById("lnameMessage").innerHTML ="Enter characters.";
           return false;
   }else{
       document.getElementById("lnameMessage").innerHTML = "Enter valid name."
   }
}

function emailValidation(){
   var pattern = /^[^]+@[^]+\.[a-z]{2,3}$/; 
   var email1 = document.getElementById("InputEmail").value
   if(email1==""){
       document.getElementById("emailMessage").innerHTML= "This field is required!";
       return false;
   }else if(email1.match(pattern)){
       document.getElementById("emailMessage").innerHTML ="";
       return true;
   }else{
       document.getElementById("emailMessage").innerHTML ="Enter a valid email";
       return false;
   }
}
</script>
{% endblock content %}